body{
    background-color:rgb(68, 67, 67);
}

#title{
    color: rgb(233, 38, 38);
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#all-machines{
    margin-top: 100px;
    display: flex;
    justify-content:space-around ;
}

div{
    color:blanchedalmond;  
}

.current{
    color:blanchedalmond;
    margin-bottom: 20px;
    margin-top: 20px;
}

.time-left{
    font-size: 30px;
}

button{
    margin: 10px;
    color: brown;
}
